# watch this directory for new images
watch_dir: /path/to/images

# prepend this to the generated image URLs
url_prefix: https://example.com

# bitly token, generate it from https://app.bitly.com/settings/api
bitly_token: babafacecaca

# ssh settings, hosts defined in ~/.ssh/config will work
ssh:
  dest: 'upload-user@server:/var/www/example.com/static/'
  key: /path/to/ssh_key.pem
